<h1>Create your bookmark</h1>

<%= simple_form_for [@list, @bookmark]  do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit value: "Add new", class: "btn btn-primary button" %>
<% end %>
